body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,  "Roboto"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-signin {
  border: 0;
  border-radius: 1.25rem !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right bottom, #559ef8, #63c7e9);
  color: white;
  font-weight: bold;
  min-width: 360px;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding:2.5rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.img-logo {
  width:150px;
  margin-top: -100px;
  margin-bottom:-100px;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000 !important;
  left: 0;
  top: 70px !important;
  background-color: #000005;
  background-color: rgba(0, 0, 5, .7);
  overflow-x: hidden;
  transition: .5s
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: .3s;
  z-index: 3000
}

.overlay a:focus,
.overlay a:hover {
  color: #f1f1f1
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px
}

@media screen and (max-width:992px) {
  .overlay a {
      color: #17023d
  }
}

@media screen and (max-width:476px) {
  .overlay .closebtn {
      top: 0
  }
  .overlay a {
      padding: 0
  }
}

@media screen and (max-height:450px) {
  .overlay a {
      font-size: 20px
  }
  .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px
  }
}

img.overlay-img {
  height: inherit;
  overflow-y: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: fixed
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  border-radius: 0
}

::-webkit-scrollbar-thumb {
  background: rgba(1, 51, 67, .3)
}

::-webkit-scrollbar-thumb:hover {
  background: #013343
}

.cross {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 36pt
}

#overlay {
  position: fixed;
  display: table-column;
  width: 550px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, .95)!important
}

.overlay-content {
  display: table;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px
}

.border-nav {
  border-style: solid;
  border-width: 0pc 0px 3px 0px;
  border-color: #009fe3;
}

.background-skewed {
  height: calc(100vh - 72px);
  background: linear-gradient(to left top, #009fe3, #FCFCFC) ;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0% 100%);
}